# Python
__pycache__/
*.pyc
*.pyo
*.pyd
upload_images.py
fix_encoding.py

# Virtual Environment
venv/
.env/

# Django
db.sqlite3
media/
venv/
.env
__pycache__/
mini_env/

# OS
.DS_Store
Thumbs.db

.vscode/
