<div class="checkout-steps">
  <div class="step {% if current_step == 1 %}active{% endif %}">
    <span class="step-number">1</span>
    <span class="step-text">Shopping Cart</span>
  </div>

  <div class="step {% if current_step == 2 %}active{% endif %}">
    <span class="step-number">2</span>
    <span class="step-text">Confirm Order</span>
  </div>

  <div class="step {% if current_step == 3 %}active{% endif %}">
    <span class="step-number">3</span>
    <span class="step-text">Order Completed</span>
  </div>
</div>