<body class="overflow:hidden;">
  <div id="hamll-container">
    <div class="page-root">
      <div class="page-wrapper">
        <div id="page-header" style="width:100%; height:64px;">
          <div class="h-affix h-affix-tw" style="position: fixed; top:0px; width:1176px">
            <div class="h-shortCut bg-pellucid hidden-gender-nav">
              <div class="shortcut-content h-content show-type-A">          
                <div>
                  <a href="logo" href="/tw/zh/TW/">
                    <img alt="Uniqlo TW">
                  </a>  
                </div>
                <div class="content-middle">
                  <span>WOMEN</span>
                  <span>MEN</span>
                  <span>KIDS</span>
                  <span>BABY</span>
                </div>
                <div class="content-right">
                  <ul>
                    <li class="li-close"></li>
                    <li class="li-search"></li>
                    <li class="li-favorite"></li>
                    <li class="li-member"></li>
                    <li class="li-cart"></li>
                    <li class="li-classify"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ProductListTemplate4">
    <div class="categories-tab">
      <div class="swiper-pointer-events categories-tab-swiper" id="categoriesTab" style="max-hgeight:60px; position:fixed; top:64px;">
        <div class="swiper-button-prev swiper-button-disabled"></div>
        <div class="swiper-button-next swiper-button-disabled"></div>
        <div class="swiper-wrapper" style="transition-duaration:0ms; transform:translate3d(28.2px, 0px, 0px);">
          <div class="swiper-slide" lazy="true" style="width: fit-content; margin-right:32px">
            <div class="categories-tab-item" style="padding-left:0px">
              <a href="/tw/zh/TW/c/all_women-tops.html">所有T恤/設計上衣/休閒</a>
            </div>
          </div>
          <div class="swiper-slide" lazy="true" style="width: fit-content; margin-right:32px">
            <div class="categories-tab-item" style="padding-left:0px">
              <a href="/tw/zh/TW/c/all_women-tops-shirts-and-blouses.html">休閒襯衫&設計上衣</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>